<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <!-- <base href="/"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="posts.component.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
</head>

<body id="top">
  <header>
    <h1 class="temp title" id="title" style="background-color: rgb(0, 225, 255); font-size: 56px;">Объекты культурного наследия</h1>
  </header>
  <main>
    <section>
      <section class="photo-user-name">
        <!-- <table>
          <tr>
            <td> <img width="200" src="./kitanin_photo.jpg" alt="Красная площадь"></td>
            <td>
              <h2>Красная площадь</h2>
            </td>
          </tr>
        </table> -->
        <img width="800" src="https://catherineasquithgallery.com/uploads/posts/2021-02/1612905309_134-p-krasnaya-ploshchad-fon-173.jpg">
        <p style="color: rgb(255, 255, 255); font-size: 37px; background-color: rgb(255, 255, 255)">------</p><p style="color: rgb(226, 12, 12); font-size: 70px; background-color: rgb(230, 230, 230)"> Красная Площадь</p>
      </section>
      <p><p style="color: rgb(121, 3, 91); font-size: 30px; background-color: beige">Красная площадь - старинная городская площадь, расположенная под стенами Кремля на исторической территории Китай-города и заслужившая славу главной площади Москвы.</p>
      <p style="color: rgb(4, 2, 129); font-size: 20px; background-color: beige">Обладая уникальным архитектурным ансамблем, Красная площадь стала одной из ключевых достопримечательностей столицы и вместе с Московским Кремлём попала в список объектов Всемирного наследия ЮНЕСКО. Её изображения широко тиражируются на открытках, календарях и сувенирной продукции, а прогулка по площади стала обязательным пунктом в программе любого туриста. Кроме того, она граничит или имеет выход на целый ряд других городских достопримечательностей: парк "Зарядье", Александровский сад, пешеходную Никольскую улицу, Варварку, Ильинку и Биржевую площадь, являясь центром туристических маршрутов.</p>
      <p style="color: rgb(6, 145, 64); font-size: 23px; background-color: beige">Современная Красная площадь - огромное пешеходное пространство, протянувшееся вдоль северо-восточной стены Кремля. Площадь полностью вымощена брусчаткой из крымского долерита и используется для прогулок горожан и туристов, а также проведения крупных массовых мероприятий: парадов, концертов и фестивалей.</p>

    </section>

    <section class="card">
      <p style="color: rgb(0, 0, 0); font-size: 37px; background-color: rgb(216, 219, 255)">Главные достопримечательности Красной Площади</p>
      <table>
        <thead>
          <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Как выглядит</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Собор Василия Блаженного</td>
            <td>Это самая главная и известная достопримечательность, находящаяся на Красной площади. Собор был возведен по велению Иоанна Грозного в честь взятия русскими войсками Казани. Освящен в 1561 году как собор Покрова Богородицы, что на Рву. Покровский собор не раз претерпевал изменения в своем облике. В 1588 году к нему была пристроена ещё одна (десятая) церковь в честь Василия Блаженного, давшая древнему храму второе, «народное» имя. По задумке, храм символизирует град господень, поэтому в его внутренней росписи использовались прекрасные цветы и растения, олицетворяющие райский сад.</td>
            <td><img width="200" src="https://kartinkin.net/pics/uploads/posts/2022-08/1660386053_52-kartinkin-net-p-rossiya-sobor-vasiliya-blazhennogo-krasivo-56.jpg"></td>
          </tr>
          <tr>
            <td>Памятник Минину и Пожарскому</td>
            <td>Памятник Кузьме Минину и Дмитрию Пожарскому - это скульптурный бронзовый монумент, возведенный предводителям второго народного ополчения, войска которого 1612 году освободили Москву от польских захватчиков. В начале XIX века появилась идея увековечить славу национальных героев с помощью построения памятника. Автором монумента был избран российский скульптор Иван Мартос. В 1812 году началась работа по созданию памятника. На его отливку потребовалось 1100 пудов меди.</td>
            <td><img width="200" src="https://www.timeout.ru/wp-content/uploads/2022/10/1-87.jpg"></td>
          </tr>
          <tr>
            <td>Лобное место</td>
            <td>Лобное место - памятник Средневековья, расположенный напротив Спасской башни. В летописных источниках середины XVI столетия говорится о существовании общественной трибуны, именуемой Лобным местом. Это культовое сооружение, представляющее собой каменный круглый помост с 11 ступенями, возведено в 1549 году. Место использовалось во время празднования Входа Господня в Иерусалим, сюда царь вел коня, на котором восседал митрополит. Зачастую на Лобном месте для всенародного поклонения выставляли мощи православных святых.</td>
            <td><img width="200" src="http://mosprogulka.ru/_pu/2/93714174.jpg"></td>
          </tr>
          <tr>
            <td>Спасская башня</td>
            <td>Спасская башня выходит на Красную площадь рядом с собором Василия Блаженного. Это потрясающее краснокирпичное строение было возведено по проекту миланского зодчего Пьетро Антонио Солари в 1491 году. В последующие годы башня несколько раз реконструировалась. Верхняя часть надстройки украшена ажурным арочным поясом с угловыми башенками и фигурами фантастических зверей. Над знаменитыми кремлевскими курантами находится звонница, венчает башню шатер со звездой. Спасску башню Московского Кремля смело можно назвать главным символом Красной площади!</td>
            <td><img width="200" src="https://konkurs.trip2rus.ru/sites/default/files/field/images/foto/bashnya_moskovskogo_kremlya.jpg"></td>
          </tr>
          <tr>
            <td>ГУМ</td>
            <td>ГУМ - это главный отечественный универмаг, построенный в 1889-1893 годах по проекту архитектора А. Померанцева. Масштабное трёхэтажное сооружение в псевдорусском стиле протянулось по восточной границе площади примерно на четверть километра. Торговые помещения облицованы мрамором и гранитом, искусно декорированы стеклом, лепниной, скульптурными формами. В трехэтажном галерейном комплексе расположены сотни брендовых магазинов, рестораны и кофейни, зал для демонстрации мод, каток, несколько кинозалов.</td>
            <td><img width="200" src="https://panorama.pub/storage/c5/76/2e1d7688c1fa987f2206ae828f71/previews/10276-meta-image-1600.jpg"></td>
          </tr>
          <tr>
            <td>Мавзолей Ленина</td>
            <td>Перед Сенатской башней расположена уникальная усыпальница, построенная в 1930 году. В ней хранится забальзамированное тело великого вождя революции В.И. Ленина. Памятник представляет собой железобетонную конструкцию с кирпичными стенами, облицованную гранитом, с отделкой мрамором и лабрадоритом. Надпись «Ленин» над входом инкрустирована из порфира. В центре зала на постаменте установлен саркофаг, по обе стороны которого расположены бронзовые знамена, озаренные красной подсветкой. В изголовье саркофага – герб СССР.</td>
            <td><img width="200" src="https://avatars.dzeninfra.ru/get-zen_doc/1900266/pub_63163846fb411e571c4abc07_631644885a616330a3f5681d/scale_1200"></td>
          </tr>
        </tbody>
      </table>
    </section>
    <section><p style="color: rgb(255, 255, 255); font-size: 37px; background-color: rgb(255, 255, 255)">111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111</p></section>
    <section>
      <h1>Смотрите также:</h1>
      <div class="slide">
        <label for="slide1">
          <h2>Интересные факты о Красной Площади: (нажми)</h2>
        </label>
            <input type="checkbox" id="slide1"/>
        <p class="content"style="font-size: 25px">1. Общая площадь Красной Площади равняется 24 750 кв.м – она имеет форму прямоугольника со сторонами 75 и 330 м.</p>
        <p class="content"style="font-size: 25px">2. Памятник Минину и Пожарскому – единственный монумент, установленный на Красной площади.</p>
        <p class="content"style="font-size: 25px">3. Царь-колокол пролежал в яме (где осуществлялась отливка) около 100 лет. Несколько раз предпринимались неудачные попытки поднять его.</p>
        <p class="content"style="font-size: 25px">4. Успенский собор (расположен в Московском кремле) – старейшее из сохранившихся зданий Москвы (построен в 1474–1479 гг.).</p>
        <p class="content"style="font-size: 25px">5. С XVII века башни Московского кремля украшали двуглавые орлы. В 1935 году было решено заменить их пятиконечными звездами.</p>
    </div>
    </section>
    <section><p style="color: rgb(248, 250, 234); font-size: 37px; background-color: rgb(252, 250, 233)"></p></section>
    <section>
    
      <p style="color: rgb(241, 255, 43); font-size: 37px; background-color: rgb(194, 114, 114)">Фотографии Красной Площади:</p>
       
             <button class="draw"><a href="https://parktower.ru/excursions-images/5h1p1ycbq4z45rfiul.jpg">Сверху</a></button>
          
              <button class="draw meet"><a href="https://otvet.imgsmail.ru/download/u_fa550ec702f58334265b0e53ae12a886.jpg">Парадный вход</a></button>
            
              <button class="center"><a href="https://kartinkin.net/uploads/posts/2022-02/1645169586_5-kartinkin-net-p-krasnaya-ploshchad-kartinki-5.jpg">Главная площадь</a></button>
            
              <button class="spin"><a href="https://catherineasquithgallery.com/uploads/posts/2021-02/1612892584_72-p-krasnaya-ploshchad-fon-dlya-fotoshopa-95.jpg">Собор</a></button>
            
              <button class="spin circle"><a href="https://kick-league.ru/wp-content/uploads/2022/09/katok-na-krasnoi-ploshchadi.jpg">Каток</a></button>
    </section> 
    <section><p style="color: rgb(255, 255, 255); font-size: 37px; background-color: rgb(255, 255, 255)"></p></section>
    <section><img width="1200" src="https://img5.goodfon.ru/wallpaper/nbig/b/3d/krasnaia-ploshchad-khram-vasiliia-blazhennogo-moskovskii-kre.jpg"></section> 

    <section><p style="color: rgb(255, 255, 255); font-size: 37px; background-color: rgb(255, 255, 255)">111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111</p></section>
    <section><p style="color: rgb(255, 255, 255); font-size: 37px; background-color: rgb(255, 255, 255)">111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111</p></section>
    <p style="color: rgb(121, 3, 91); font-size: 37px; background-color: beige">Для справки:</p>
  </main>
</body>

</html>


      
    
        
      
    
      
      